.events_container {
    display: flex;
    flex-wrap: wrap;
    border: solid;
    justify-content: center;
    border-radius: 5%;
}

.events {
    border: solid;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5%;
}
.eventsNext {
    border: solid;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5%;
    background-color: lightgrey;
}
#addEvent {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    font-size: large;
    font-family: sans-serif;
    margin-left: 5rem;
    margin-right: 5rem;
    border-radius: 5%;
}
#addEvent:hover{
    background-color: lightgrey;
}
.eventDelete {
    margin: .5rem;
}
.eventDelete:hover {
background-color: red;
}
#nextEventHeader {
    text-align: center;
    text-decoration: underline;
}