.events_container {
  display: flex;
  flex-wrap: wrap;
  border: solid;
  justify-content: center;
  width: 15rem;
  margin: 1rem;
  background-color: white;
}

.events {
  border: solid;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5%;
}
.eventsNext {
  border: solid;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5%;
  background-color: lightgrey;
}
#addEvent {
  justify-content: center;
  font-size: large;
  font-family: sans-serif;
  margin-left: 5rem;
  margin-right: 5rem;
  border-radius: 5%;
  height: 3rem;
  align-self: flex-end;
  margin-bottom: 0.5rem;
}
.eventDelete {
  margin: 0.5rem;
}

#nextEventHeader {
  text-align: center;
  text-decoration: underline;
}
