.registration_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.registrationForm {
    width:45%;
    border: 1px solid black;
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    margin-bottom:1em;
}

.registrationButton {
    margin-top: 6px;
}

#showRegistration {
    margin-bottom: 1em;
}
.invisible {
    display:none;
}