.tasks_conatiner {
    display: flex;
    flex-wrap: wrap;
    border: double;
    justify-content: center;
    border-radius: 40%;
    background-color: beige
}

.tasks {
    border: double;
    margin: 1rem;
    padding: 1rem;
    border-radius: 30%;
    background-color: lightblue;
}

#addTask {
    display: flex;
    flex-basis: 45%;
    justify-content: center;
    font-size: large;
    margin-left: 5rem;
    margin-right: 5rem;
    border-radius: 50%;
    padding: 0.5rem;
}

.taskDelete {
    margin: .5rem;
}
